<!DOCTYPE html>
<html>

   <head>
      <title>File Metadata Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">

   </head>

   <body>
      <div class="container">
         <h3>Submit a file to view its filesize</h3>
          <form id='uploadForm' name='uploadForm' enctype="multipart/form-data" method="post">
            <input type="file" id="myFile" name="myFile" />
            <input id='uploadBtn' type='submit' name='submit'>
          </form>
      </div>
   </body>

</html>
